
<div class="row">
  <div class="col-10 mx-auto">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Search by id here" aria-label="Search input" [(ngModel)]="id">
      <button type="submit" class="btn btn-secondary" (click)="fetchById()">Search</button>
    </div>

    <div class="col-6 mx-auto mt-5">
      <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="errorMessage != ''">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<app-table
  [objList$]="objs$"
  (onDeleteEvent)="onDelete($event)"
></app-table>


